:root {
  --page-max-width: 1440px;

  --container-padding: 150px;

  --font-main: "Poppins Regular", Verdana, sans-serif;

  --font-light: "Roboto Light";
  --font-regular: "Roboto Regular";

  --font-medium: "Poppins Medium";
  --font-bold: "Poppins Bold";

  --black-color: #000;
  --white-color: #fff;
  --accent-color: #ee0000;
  --lightdark-color: #131313;
  --darkgrey-color: #3e3e3e;
  --medium-darkgrey-color: #5c5c5c;
  --light-darkgrey-color: #787878;
  --text-darkgrey-color: #464646;

  --bg-custom-color: #f4f4f4;
}
