.header {
  padding: 30px 78px;
  background-color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.nav {
  &__menu {
    display: flex;
    gap: 45px;
  }

  &__link {
    color: var(--white-color);
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      content: "";
      height: 30px;
      width: 0;
      border-bottom: solid 2px var(--white-color);
      transition: all 0.4s ease-in-out;
      opacity: 1;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__link-active::after {
    position: absolute;
    left: 0;
    content: "";
    height: 30px;
    width: 0;
    border-bottom: solid 2px var(--white-color);
    opacity: 1;
    width: 100%;
  }
}
